.inpu {
    width: 240px !important;
}

.sel {
    width: 240px !important;
}

.a {
    text-decoration: none;
    /* font-family: fantasy!important; */
    font-size: 30px !important;
    -webkit-text-stroke: 2px red;
}

footer {
    background: linear-gradient(to right, rgb(246, 242, 243), rgb(161, 225, 255));
    height: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px
}

img {
    width: 300px !important;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
}

.contier {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: auto;
    margin-right: auto; */
}

.card {
    width: 310px;
    margin: 10px;
}

.card:hover {
    transform: scale(1.02);
    transition: 0.2s;
    box-shadow: 2px 3px 10px 5px rgb(226, 226, 226);
    ;
}

p {
    /* text-align: right; */
    text-align: justify;
    margin: 5px !important;
    width: 300px;
}

h5 {
    margin: 5px;
    color: rgb(255, 0, 34);
}

nav {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
    display: flex !important;
    flex-wrap: wrap!important;
}

h6 {
    margin: 5px;
}

a {
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
}

.is-hidden {
    display: none;
}

.show {
    display: inherit;
}

@media (max-width: 300px) {
    .inpu,
    .sel,
    nav {
        display: flex !important;
        flex-wrap: wrap!important;
        width: 100%!important;
    }
}


/* 
@media (max-width: 700px) {
    .sel,
    {
        %!important;
    }
} */