.inpu {
    width: 200px !important;
}

.sel {
    width: 200px !important;
}


/* .bg { */


/* background: -webkit-linear-gradient(rgb(185, 80, 108), rgb(255, 143, 186)); */


/* background: linear-gradient(to right, rgb(246, 242, 243), rgb(216, 206, 210)); */


/* } */

.a {
    /* font-family: fantasy!important; */
    font-size: 30px !important;
    -webkit-text-stroke: 1px red;
}

footer {
    background: linear-gradient(to right, rgb(246, 242, 243), rgb(161, 225, 255));
    height: 100px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px
}

img {
    width: 300px !important;
    height: 200px;
    margin: 5px;
    border-radius: 5px;
}

.contier {
    display: flex;
    flex-wrap: wrap;
    /* margin-left: auto;
    margin-right: auto; */
}

.card {
    width: 310px;
    margin: 10px;
}

p {
    margin: 5px;
    width: 300px;
}

h5 {
    margin: 5px;
    color: rgb(255, 0, 34);
}

nav {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
    z-index: 1;
}